.created-todo{
    background-color: white;
    box-shadow: 0 2px 5px #ccc;
    padding:8px;
    width:500px;
    height: auto;
    /* position: absolute; */
    /* margin:80px; */
    border-radius: 10px;
    margin: 40px auto auto auto;
    left: 0;
    right: 0;
    /* float:left; */
    align-items: center;
    /* overflow-y: scroll; */
}


.created-todo li{
    /* text-align: center; */
list-style-type: none;
 } 


 li.edit-todo-icon,li.delete-todo-icon{
    color:black;
    float: right;
 }