* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow: hidden;
}


.homepage {
  min-height: 100vh;
  background-color: #f9c039;
}

.pagetext {
  transform: translateY(14em);
  /* margin-top: 10%; */
  margin-left: 2%;
}

.heading {
  text-align: left;
  padding: 20px;
  font-size: 5em;
  padding-bottom: 10px;
}

.content {
  text-align: justify;
  padding: 20px;
  font-size: 1.5em;
  line-height: 1.6;
}

.worry {
  font-style: italic;
  padding-right: 10px;
}

.button {
  position: relative;
  top: 14em;
  left: 18em;
  text-decoration: none;
}

.image {
  float: right;
  position: relative;
  right: 2%;
}

@media only screen and (max-width: 768px) {
  .homepage {
    overflow: scroll;
  }
  .image {
    display: none;
  }
  .pagetext {
    margin-top: -30%;
    /* text-align: center; */
    /* display: block; */
    /* text-align: calc(top=100%); */
  }
  .heading {
    text-align: center;
  }
  .content {
    text-align: center;
    /* padding-bottom: 20px; */
  }
  .button{
    /* float:left; */
    /* top:40em; */
    left:8em;
    /* padding: 10px; */
    /* margin-top: 10px; */
  }

}
