*{    margin:0;
    padding:0;
    box-sizing: border-box;
}


.login-form{
    background-color: #F9C039;
    height:100vh;
}


.login-container{ 
    padding: 40px;
    margin-top: 10%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
}


.login-form-two{
    margin-top: 7%;
}

.loginform-title{
    font-size: 2.4em;
    text-align: center;
  font-weight: 700;
  padding-top:5px;
    padding:12px;
}

.name,.password{
    align-items: center;
    padding:10px;
    width: 50%;
    margin: auto;
}

.login-button{
    align-items: center;
    display: flex;
    margin-left: 36%;
    padding:10px;
    margin-right: auto;
}

.login-text{
    text-align: center;
    padding:10px;
    font-size:1.4em;
}

