*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.notes-container{
    min-height:100vh;
    background-color:#f9c039 ;
    background-repeat: repeat;
    overflow-y: hidden;
    top:0;
    bottom: 0;
}

.note-page-heading{
    text-align: center;
    font-size: 2em;
    padding:10px;
}