*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    /* overflow-y: scroll; */
}

.notes-container{
    height:100vh;
    background-color:#f9c039 ;
    /* background-repeat: repeat; */
    overflow-y: scroll;
    /* top:0;
    bottom: 0; */
}

.note-page-heading{
    text-align: center;
    font-size: 2em;
    /* padding:10px; */
    /* top:90px; */
    margin-top: 70px;
}

