*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    padding: 60px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    margin: auto;
    width:600px;
}

.caption{
    padding: 20px;
}