form.notes-form {
  position: relative;
  width: 500px;
  margin: 60px auto 30px auto;
  /* background: #fff; */
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}

.add-note-button {
  align-items: center;
  display: flex;
  margin-left: auto;
  padding: 10px;
  margin-right: auto;
}

.note-title,.note-content{
 width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}